/* line 17, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 25, ../sass/base/_theme.scss */
a {
  color: #4d8bc8;
}
/* line 18, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #ac3dc3;
}
/* line 21, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: #5da4eb;
}
/* line 24, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #5da4eb;
}
/* line 27, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #1c7edf;
}

/* line 1, ../sass/base/_layout.scss */
#page-wrap {
  padding-top: 50px;
}

/* line 1, ../sass/partials/_header.scss */
.header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 10px 0 10px;
  height: 50px;
  line-height: 50px;
  z-index: 2;
  background: white;
  width: 100%;
  border-bottom: solid 1px #d0d0d0;
  filter: alpha(opacity=80);
  /* ie5-7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  /* ie8 */
  -khtml-opacity: 0.8;
  /* khtml, old safari */
  -moz-opacity: 0.8;
  /* mozilla, netscape */
  opacity: 0.8;
  /* fx, safari, opera */
  text-align: center;
}

/* line 15, ../sass/partials/_header.scss */
.header-title {
  font-size: 1.8em;
  font-weight: bold;
  color: #383838;
}

/* line 1, ../sass/partials/_column.scss */
.column-view-wrap {
  float: left;
  height: 100%;
  overflow: hidden;
}

/* line 6, ../sass/partials/_column.scss */
.list-wrap {
  float: left;
  width: 300px;
  height: 100%;
  border-left: solid 1px #d0d0d0;
  overflow-y: auto;
  overflow-x: hidden;
}

/* line 16, ../sass/partials/_column.scss */
.item {
  position: relative;
  cursor: pointer;
}

/* line 20, ../sass/partials/_column.scss */
.content {
  font-size: 1em;
  padding: 0 10px 0 10px;
  line-height: 1.5em;
}

/* line 25, ../sass/partials/_column.scss */
.item-open, .item:hover {
  background: #383838;
  color: white;
}

/* line 29, ../sass/partials/_column.scss */
.item:hover {
  filter: alpha(opacity=60);
  /* ie5-7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  /* ie8 */
  -khtml-opacity: 0.6;
  /* khtml, old safari */
  -moz-opacity: 0.6;
  /* mozilla, netscape */
  opacity: 0.6;
  /* fx, safari, opera */
}

/* line 32, ../sass/partials/_column.scss */
.item-edit, .item-edit:hover {
  background: none;
}

/* line 35, ../sass/partials/_column.scss */
.item-edit-input-wrap {
  padding: 0 10px 0 10px;
}

/* line 38, ../sass/partials/_column.scss */
.item-edit-input {
  display: block;
  font-size: 0.8em;
  width: 100%;
  margin: 0;
  border: none;
  padding: 5px 0 5px 0;
  outline: none;
  color: #7e7e7e;
}

/* line 48, ../sass/partials/_column.scss */
.item-open-old {
  background: #d0d0d0;
  border: solid 1px #d0d0d0;
}

/* line 52, ../sass/partials/_column.scss */
.action-wrap {
  display: none;
  position: absolute;
  top: 5px;
  right: 10px;
}

/* line 59, ../sass/partials/_column.scss */
.drag-enter {
  border-top: solid 1px #7ba3c6;
}
