.header {
    position: relative;
    width: 100%;
    background: $color-white;
    height: $header-height;
    border-bottom: solid 1px $color-light-gray;
    @include opacity(0.8);
}
.header-title {
    position: absolute;
    top: $layout-padding;
    left: $layout-padding;
    color: $color-black;
    font-size: 1.8em;
}
